<nav>
  <md-toolbar color="primary" style="align-content: center;">
    Pet Zoo<span *ngIf="navService.screenName">&nbsp;-</span><span style="font-size: 36px;">&nbsp;{{navService.screenName}}&nbsp;<md-icon *ngIf="navService.headerIcon" aria-hidden="true" color="accent">{{navService.headerIcon}}</md-icon></span>
  </md-toolbar>
</nav>
