<footer>
  <md-toolbar color="primary">
    <small><i>The Pet Zoo is Rosa's first game, August 2017.</i></small>
    <div style="flex: 1 1 auto;"></div>
    <h1>
      <a *ngIf="navService.showStartOverButton" routerLink="/welcome" md-raised-button color="primary">start over</a>
      <a *ngIf="navService.previousScreenUrlPath" routerLink="{{navService.previousScreenUrlPath}}" md-raised-button color="primary">back</a>
      <a *ngIf="navService.nextScreenUrlPath" routerLink="{{navService.nextScreenUrlPath}}" md-raised-button color="accent">next</a>
    </h1>
  </md-toolbar>
</footer>
