<div>
    <app-display-pet></app-display-pet><br>
    <button md-raised-button *ngFor="let food of foods" (click)="feed(food.name)">
      <img src="{{food.picture}}" height="90px"><br>
      {{food.name}}
    </button>
</div>
