<div>
  <app-display-pet></app-display-pet><br>
  <md-button-toggle value="headphones" (change)="addStyleIfNotPresentOrRemoveStyleIfPresent('headphones')">
    <img src="assets/headphones.svg" height="90px"><br>
    headphones
  </md-button-toggle>
  <md-button-toggle value="sweater" (change)="addStyleIfNotPresentOrRemoveStyleIfPresent('sweater')">
    <img src="assets/sweater.svg" height="90px"><br>
    sweater
  </md-button-toggle>
  <md-button-toggle value="crown" (change)="addStyleIfNotPresentOrRemoveStyleIfPresent('crown')">
    <img src="assets/princess-crown.svg" height="90px"><br>
    crown
  </md-button-toggle>
  <md-button-toggle value="sunglasses" (change)="addStyleIfNotPresentOrRemoveStyleIfPresent('sunglasses')">
    <img src="assets/sunglasses.svg" height="90px"><br>
    sunglasses
  </md-button-toggle>
  <md-button-toggle value="mustache" (change)="addStyleIfNotPresentOrRemoveStyleIfPresent('mustache')">
    <img src="assets/mustache.svg" width="110px"><br>
    mustache
  </md-button-toggle>
  <md-button-toggle value="bow tie" (change)="addStyleIfNotPresentOrRemoveStyleIfPresent('bow tie')">
    <img src="assets/bow_tie.svg" height="90px"><br>
    bow tie
  </md-button-toggle>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <md-button-toggle-group #group="mdButtonToggleGroup" (change)="changeFootwear(group.value)">
    <md-button-toggle value="roller skates">
      <img src="assets/roller-skates.svg" height="90px"><br>
      roller skates
    </md-button-toggle>
    <md-button-toggle value="shoes">
      <img src="assets/shoes.svg" height="90px"><br>
      shoes
    </md-button-toggle>
    <md-button-toggle value="skateboard">
      <img src="assets/skateboard.svg" height="90px"><br>
      skateboard
    </md-button-toggle>
  </md-button-toggle-group>
</div>
