<md-grid-list [cols]="pets.length" rowHeight="400px">
  <md-grid-tile
    *ngFor="let pet of pets"
    colspan="1"
    rowspan="1">
    <md-card class="example-card mat-card">
      <md-card-header>
        <!--<div md-card-avatar class="example-header-image"></div>-->
        <md-card-title><h2>{{pet.animalFamily}}</h2></md-card-title>
      </md-card-header>
      <img md-card-image src="{{pet.picture}}" height="200px" class="mat-card-image" (click)="choose(pet)" routerLink="/name-your-pet">
      <md-card-content class="mat-card-content">
        <p>{{pet.description}}</p>
      </md-card-content>
      <md-card-actions>
        <a (click)="choose(pet)" routerLink="/name-your-pet" md-raised-button color="primary"><h1>Choose {{pet.animalFamily}}</h1></a>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
</md-grid-list>
